<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ayuda
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ayuda</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ayuda</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>

  <ion-tabs>
    <ion-tab-bar slot="bottom" routerLink="/home">
      <ion-tab-button tab="triangle">
        <ion-icon name="triangle"></ion-icon>
        Tab 1
      </ion-tab-button>
      <ion-tab-button tab="circle" routerLink="/tab2">
        <ion-icon name="ellipse"></ion-icon>
        Tab 2
      </ion-tab-button>
      <ion-tab-button tab="help" routerLink="/tab3">
        <ion-icon name="help"></ion-icon>
        Ayuda
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
